<%= form_with model: [:admin, @test, @practical_task], method: method, data: { turbo: true, turbo_frame: "_top" }, class: 'form' do |form| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="form--row">
        <%= form.label :body_et, t('.body_et'), class: 'form--label' %>
        <div class="form--field">
          <%= form.text_area :body_et, class: 'textarea', rows: 4 %>
        </div>
      </div>
      
      <div class="form--row">
        <%= form.label :body_en, t('.body_en'), class: 'form--label' %>
        <div class="form--field">
          <%= form.text_area :body_en, class: 'textarea', rows: 4 %>
        </div>
      </div>

      <div class="form--row">
        <%= form.label :validator, t('.validator'), class: 'form--label' %>
        <div class="form--field">
          <%= form.text_area :validator, class: 'textarea', rows: 8, placeholder: t('.validator_placeholder') %>
        </div>
      </div>
    </div>
  </div>

  <div class="form--actions">
    <%= form.submit t(:save), class: 'button button--primary' %>
  </div>
<% end %>
