<% content_for(:title) { "EIS | #{t('users.admin.passwords.edit.title', default: 'Set new admin password')}" } %>
<% content_for :hero do %>
  <div class="layout--hero">
    <h1><%= t('users.admin.passwords.edit.title', default: 'Set new admin password') %></h1>
  </div>
<% end %>

<div class="page">
  <div class="page--content">
    <div class="wrapper">
      <div class="row" style="justify-content: center;">
        <div class="col-md-6 col-xs-12">
          <article class="paper">
            <header class="paper--header">
              <h3><%= t('users.admin.passwords.edit.subtitle', default: 'Choose a new password') %></h3>
            </header>
            <div class="paper--content">
              <%= form_with scope: resource_name, url: admin_password_path, method: :patch, class: 'form', data: { turbo: false } do |f| %>
                <%= f.hidden_field :reset_password_token,
                                   value: resource.try(:reset_password_token).presence || params[:reset_password_token] %>
                <div class="form--row">
                  <%= f.label :password, t('users.admin.passwords.edit.password', default: 'New password'), class: 'form--label' %>
                  <div class="form--field">
                    <div class="form--input">
                      <%= f.password_field :password, class: 'input', autofocus: true, autocomplete: 'new-password' %>
                    </div>
                  </div>
                </div>
                <div class="form--row">
                  <%= f.label :password_confirmation, t('users.admin.passwords.edit.password_confirmation', default: 'Confirm new password'), class: 'form--label' %>
                  <div class="form--field">
                    <div class="form--input">
                      <%= f.password_field :password_confirmation, class: 'input', autocomplete: 'new-password' %>
                    </div>
                  </div>
                </div>
                <div class="form--actions">
                  <%= f.button t('users.admin.passwords.edit.submit', default: 'Update password'),
                               type: 'submit',
                               name: '',
                               class: 'button button--primary' %>
                </div>
                <div class="form--actions" style="margin-top: 12px;">
                  <%= link_to t('users.admin.passwords.edit.back_to_login', default: 'Back to admin login'),
                              new_admin_session_path,
                              class: 'link' %>
                </div>
              <% end %>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
