<% content_for(:title) { "EIS | #{t('.page_title', practical_task: @practical_task.title)}" } %>
<% content_for :hero do %>
  <div class="layout--hero">
    <h1><%= t('.title') %></h1>
    <div class="monospace"><%= @practical_task.title %></div>
    <%= back_link(text: t('.back_to_practical_task'), path: admin_test_practical_task_path(@test, @practical_task)) %>
  </div>
<% end %>

<div class="page page--admin-practical-task-results">
  <div class="page--header">
    <div class="wrapper">
      <%= render 'admin/practical_task_results/search_form' %>
    </div>
  </div>
  <div class="page--actions">
  </div>
  <div class="wrapper">
    <% if @practical_task_results.any? %>
      <%= render 'admin/practical_task_results/results_table' %>
      <%= render partial: 'common/pagination', locals: { pagy: @pagy } %>
    <% else %>
      <div class="empty-state">
        <p><%= t('.no_results') %></p>
      </div>
    <% end %>
  </div>
</div>
