<p><%= t('mailers.accreditation.shared.greeting') %></p>

<p><%= t('mailers.accreditation.expiry_30_days.intro', registrar: @registrar.name, expiry_date: l(@registrar.accreditation_expire_date.to_date, format: :default)) %></p>

<p><%= t('mailers.accreditation.expiry_30_days.renewal_notice') %></p>

<p><%= t('mailers.accreditation.expiry_30_days.test_details') %></p>

<p><%= t('mailers.accreditation.expiry_30_days.two_year_rule') %></p>

<p><%= t('mailers.accreditation.shared.support') %> <a href="mailto:support@internet.ee">support@internet.ee</a></p>

<p><%= t('mailers.accreditation.shared.closing') %><br>Eesti Interneti Sihtasutus</p>
