<p><%= t('mailers.accreditation.shared.greeting') %></p>

<p><%= t('mailers.accreditation.practical_passed_not_accredited.intro', registrar: @registrar.name) %></p>

<p><%= t('mailers.accreditation.practical_passed_not_accredited.requirement') %></p>

<p><%= t('mailers.accreditation.practical_passed_not_accredited.theory_details') %></p>

<p><%= t('mailers.accreditation.shared.support') %> <a href="mailto:support@internet.ee">support@internet.ee</a></p>

<p><%= t('mailers.accreditation.shared.closing') %><br>Eesti Interneti Sihtasutus</p>
