<%= form_with model: [ :admin, @test_category ], local: true, class: 'form form__styled' do |form| %>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="form--header">
          <h3><%= t('.info') %></h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form--row">
            <%= form.label :name_et, "#{t('.name_et')} *", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_field :name_et, class: 'input', required: true %>
              </div>
            </div>
          </div>
          <div class="form--row">
            <%= form.label :description_et, "#{t('.description_et')}", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_area :description_et, rows: 3, class: 'textarea' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="form--row">
            <%= form.label :name_en, "#{t('.name_en')} *", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_field :name_en, class: 'input', required: true %>
              </div>
            </div>
          </div>
          <div class="form--row">
            <%= form.label :description_en, "#{t('.description_en')}", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_area :description_en, rows: 3, class: 'textarea' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Configuration -->
  <span class="form--break"></span>
  <div class="row" id="configuration-section">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <div class="form--header">
          <h3><%= t('.configuration') %></h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form--row">
            <%= form.label :domain_rule_reference, "#{t('.domain_rule_reference')}", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_field :domain_rule_reference, class: 'input', required: false %>
              </div>
            </div>
          </div>
          <div class="form--row">
            <%= form.label :questions_per_category, "#{t('.questions_per_category')}", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.number_field :questions_per_category, class: 'input', required: true %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="form--row">
            <%= form.label :domain_rule_url, "#{t('.domain_rule_url')}", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_field :domain_rule_url, class: 'input', required: false %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12"></div>
      </div>
    </div>
  </div>
  <!-- Active -->
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="form--row">
        <div class="form--field">
          <div class="checkbox">
            <%= check_box_tag 'test_category[active]', true, @test_category.active? %>
            <%= label_tag 'test_category_active' do %>
              <span><%= t('.active') %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="form--break"></span>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <div class="form--actions">
        <%= form.submit t(:save), class: 'button button--primary' %>
        <%= link_to t(:cancel), admin_test_categories_path, class: 'button button--link' %>
      </div>
    </div>
  </div>
<% end %>