<% user = row[:user] %>
<% test_type = row[:test_type] %>
<% projection = row[:projection] || {} %>
<tr class="registrar-colleagues__row registrar-colleagues__row--<%= test_type %>">
  <td><%= user.display_name %></td>
  <td>
    <span class="label label-<%= test_type == :theoretical ? 'info' : 'warning' %>">
      <%= t("admin.tests.index.#{test_type}") %>
    </span>
  </td>
  <%= render 'registrar/attempt_projection_cells', projection: projection %>
</tr>
