<table>
  <tr>
    <td>
      <%= sanitize pagy_info(@pagy, item_name: t('.items', count: @pagy.count)) %>
    </td>
  </tr>
</table>
<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@search, "name", t('admin.users.index.name')  ) %></th>
      <th><%= sort_link(@search, "registrar_name", t('admin.users.index.registrar')) %></th>
      <th><%= sort_link(@search, "role", t('admin.users.index.role')) %></th>
      <th><%= sort_link(@search, "test_attempts_count", t('admin.users.index.test_attempts')) %></th>
      <th><%= sort_link(@search, "last_sign_in_at", t('admin.users.index.last_sign_in_at')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.display_name, admin_user_path(user) %></td>
        <td><%= link_to user.registrar_name, admin_registrar_path(user.registrar) if user.registrar %></td>
        <td><%= user.role %></td>
        <td><%= user.test_attempts.count %></td>
        <td><%= l(user.last_sign_in_at, format: :short) if user.last_sign_in_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>