<%= form_with model: [:admin, @test], local: true, class: 'form form__styled', data: { controller: 'test-form', 'test-form-theoretical-value': 'theoretical', 'test-form-practical-value': 'practical' } do |form| %>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="form--header">
          <h3><%= t('.info') %></h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form--row">
            <%= form.label :title_et, "#{t('.title_et')} *", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_field :title_et, class: 'input', required: true %>
              </div>
            </div>
          </div>
          <div class="form--row">
            <%= form.label :description_et, "#{t('.description_et')}", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_area :description_et, rows: 3, class: 'textarea' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="form--row">
            <%= form.label :title_en, "#{t('.title_en')} *", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_field :title_en, class: 'input', required: true %>
              </div>
            </div>
          </div>
          <div class="form--row">
            <%= form.label :description_en, "#{t('.description_en')}", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.text_area :description_en, rows: 3, class: 'textarea' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="form--break"></span>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="form--header">
          <h3><%= t('.configuration') %></h3>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="form--row">
            <%= form.label :test_type, "#{t('.test_type')} *", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= simple_select_tag 'test[test_type]', 
                    options_for_select([
                      [t('.theoretical'), 'theoretical'],
                      [t('.practical'), 'practical']
                    ], @test.test_type),
                    { required: true, data: { 'test-form-target': 'testType', action: 'change->test-form#toggleSections' } } %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="form--row">
            <%= form.label :time_limit_minutes, "#{t('.time_limit_minutes')} *", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.number_field :time_limit_minutes, class: 'input', required: true, min: 1, max: 480 %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12" data-test-form-target="passingScoreSection">
          <div class="form--row">
            <%= form.label :passing_score_percentage, "#{t('.passing_score_percentage')} *", class: 'form--label' %>
            <div class="form--field">
              <div class="form--input">
                <%= form.number_field :passing_score_percentage, class: 'input', required: true, min: 0, max: 100, data: { 'test-form-target': 'passingScore' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="form--break"></span>
  <div class="row" data-test-form-target="categoriesSection">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="form--header">
          <h3><%= t('.category_selection') %></h3>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="form--row">
            <div class="form--field">
              <div class="form--input small">
                <%= simple_select_tag 'test[test_category_ids]',
                    options_for_select(TestCategory.active.map { |category| [category.name_with_rule, category.id] }, @test.test_categories.pluck(:id)),
                    multiple: true, required: false %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" data-test-form-target="practicalTasksSection">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="form--header">
          <h3><%= t('.practical_tasks_info') %></h3>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="form--row">
            <div class="form--field">
              <div class="info-box">
                <p><%= t('.practical_tasks_description') %></p>
                <p><%= t('.practical_tasks_note') %></p>
                <p><strong><%= t('.practical_tasks_passing_score') %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="form--break"></span>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="form--row">
        <div class="form--field">
          <div class="checkbox">
            <%= form.check_box :active %>
            <%= form.label :active do %>
              <span><%= t('.active') %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form--row">
        <div class="form--field">
          <div class="checkbox">
            <%= form.check_box :auto_assign %>
            <%= form.label :auto_assign do %>
              <span><%= t('.auto_assign') %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="form--break"></span>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <div class="form--actions">
        <%= form.submit t(:save), class: 'button button--primary' %>
        <%= link_to t(:cancel), admin_tests_path, class: 'button button--link' %>
      </div>
    </div>
  </div>
<% end %>