<table>
  <tr>
    <td>
      <%= sanitize pagy_info(@pagy, item_name: t('.items', count: @pagy.count)) %>
    </td>
  </tr>
</table>
<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@search, "title_#{I18n.locale}", t('admin.tests.index.test_title')  ) %></th>
      <th><%= sort_link(@search, "test_type", t('admin.tests.index.test_type')) %></th>
      <th><%= t('admin.tests.index.components') %></th>
      <th><%= sort_link(@search, "attempts", t('admin.tests.index.test_attempts')) %></th>
      <th><%= sort_link(@search, "active", t('admin.tests.index.test_active')) %></th>
      <th style="text-align: center;"><%= sort_link(@search, "auto_assign", t('admin.tests.index.auto_assign')) %></th>
      <th class="table--action"></th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td>
          <% if test.description.present? %>
            <%= link_to test.title, admin_test_path(test), class: 'simple_tooltip', data: { 'tippy-content': test.description } %>
          <% else %>
            <%= link_to test.title, admin_test_path(test) %>
          <% end %>
        </td>
        <td>
          <span class="label label-<%= test.test_type == 'theoretical' ? 'info' : 'warning' %>">
            <%= t("admin.tests.index.#{test.test_type}") %>
          </span>
        </td>
        <td>
          <div class="components-info">
            <% if test.theoretical? %>
              <span class="component-item">
                <i class="fas fa-question-circle"></i>
                <%= test.theoretical_questions_count %> <%= t('admin.tests.index.questions') %>
              </span>
            <% end %>
            <% if test.practical? %>
              <span class="component-item">
                <i class="fas fa-tasks"></i>
                <%= test.practical_tasks_count %> <%= t('admin.tests.index.practical_tasks') %>
              </span>
            <% end %>
          </div>
        </td>
        <td><%= link_to_if test.test_attempts.count > 0, test.test_attempts.count, admin_test_test_attempts_path(test) %></td>
        <td>
          <% if test.active? %>
            <span class="label label-success"><%= t('admin.tests.index.test_active') %></span>
          <% else %>
            <span class="label label-default"><%= t('admin.tests.index.test_inactive') %></span>
          <% end %>
        </td>
        <td style="text-align: center;">
          <% if test.auto_assign? %>
            <span class="label label-success"><i class="fas fa-check"></i></span>
          <% else %>
            <span class="label label-default"><i class="fas fa-times"></i></span>
          <% end %>
        </td>
        <td class="table--action">
          <%= icon_link_to 'fas fa-pencil-alt', edit_admin_test_path(test), class: 'simple_tooltip', data: { 'tippy-content': t(:edit) } %>
          <%= icon_link_to 'fas fa-trash-alt', admin_test_path(test), class: 'simple_tooltip', data: { 'tippy-content': t(:delete), turbo: true, turbo_method: :delete, turbo_confirm: t(:delete_confirmation) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>