<% content_for(:title) { "EIS | #{@test.title}" } %>
<% content_for :hero do %>
    <div class="layout--hero">
        <h1><%= @test.title %></h1>
        <%= back_link(text: t(:back), path: admin_tests_path) %>
    </div>
<% end %>

<div class="page page--admin-test-show">
  <%= render 'admin/tests/show_actions', test: @test %>
  
  <div class="wrapper">
    <div class="row">
      <%= render 'admin/tests/show_information', test: @test %>
      <%= render 'admin/tests/show_statistics', test: @test, test_categories: @test_categories %>
    </div>

    <%= render 'admin/tests/show_theoretical_categories', test: @test, test_categories: @test_categories %>

    <%= render 'admin/tests/show_practical_tasks', test: @test, practical_tasks: @practical_tasks %>
  </div>
</div>

<%= render 'admin/practical_tasks/practical_task_dialog' %>